.game {
  width: 350px;
  height: 350px;
  margin: 50px auto 0px;
}

h1{
  font-family: 'Baloo', cursive;
  font-size: 55px;
  text-align: center;
}


#gamegrid {
  width: 100%;
  height: 100%;
}

body{
  background-color: rgb(53, 102, 117);
}

#gamegrid li {
  width: 33.333333333%;
  height: 33.333333333%;
  display: inline-block;
  float: left;
  border-style: solid;
  border-width: 4px;
  border-color: rgb(53, 102, 117);
  border-radius: 10px;
  background-color: rgb(255, 96, 0);
}

li > .icon {
  font-size: 20px;
}

  /*background-color: rgb(107, 195, 222);*/
